body {
	background:#F7F7FA;
	font-family: arial, sans-serif;
	font-size: 14px;
    max-width: 1000px;
    padding: 0 30px;
    margin: auto;
}
h1{
    text-align: left;
    font-size: 20px;
    color: #666;
}
.btn_1{
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 15px;
    padding: 5px 0 6px;
    display: block;
    margin: 30px 0;
    cursor: pointer;
}
.btn_1:hover{
    background: #fff;
}
.new_info{
    font-size: 0;
    margin: 30px 0;
    border-bottom: 1px solid #ccc ;
}
.new_info_item{
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 5%;
}
label{
    display: block;
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #000;
}
input{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 6px 8px 7px;
    margin: 0 0 10px 0;
    color: #000;
    width: 90%;
}
.all_info{
    font-size: 0;
    margin: 30px 0;
}
.info_title{
    color: #666;
    margin-bottom: 15px;
}
.info_added{
    font-size: 20px;
}
.sort_title{
    margin: 25px 0;
    text-align: center;
}
.sort_title_title{
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #999;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}