<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/mystyles.css" />
</head>
<body ng-controller="purchaseController">

<h1>Введите ваши данные</h1>
<div class="new_info">
    <div class="new_info_item">
        <label for="firstName">Введите имя</label>
        <input id="firstName" ng-model="firstName" type="text"/>
    </div>
    <div class="new_info_item">
        <label for="firstTime">Время</label>
        <input id="firstTime" ng-model="firstTime" placeholder="11:11" type="time"/>
    </div>
    <div class="new_info_item">
        <label for="age">Ваш возраст</label>
        <input id="age" ng-model="wage" type="text"/>
    </div>
    <div class="new_info_item">
        <label for="itemOrg">место работы</label>
        <input id="itemOrg" ng-model="itemOrg" type="text"/>
    </div>
    <div class="new_info_item" ng-repeat="note in halue track by $index">
        <label >Note</label>
        <input type="text" ng-model="halue[$index]"/>
    </div>
    <div>
        <button class="btn_1" ng-click="addField()">+ поле</button>
    </div>

    <button class="btn_1" ng-click="addItem(firstName, firstTime, wage, itemOrg, halue)">Добавить</button>
</div>
<h1>Сортировать</h1>
<div class="sort_title">
    <button id="elemAge"  ng-click="sortType = 'pushAge'; sortReverse = !sortReverse" class="sort_title_title">Возраст</button>
    <button id="elemOrg"  ng-click="sortType = 'pushName'; sortReverse = !sortReverse"  class="sort_title_title">Имя</button>
    <button id="elemAll"  ng-click="sortType = 'pushOrg'; sortReverse = !sortReverse" class="sort_title_title">Место работы</button>
</div>
<h1>Зарегистрированные пользователи </h1>
<div class="all_info_wrap">
    <div class="all_info" ng-repeat="item in items | orderBy:sortType:sortReverse">
        <div class="new_info_item info_name">
            <div class="info_title">Имя</div>
            <div class="info_added">{{item.pushName | lowercase}}</div>
        </div>
        <div class="new_info_item info_name">
            <div class="info_title">Время</div>
            <div class="info_added">{{item.pushTime | date: "HH:mm"}}</div>
        </div>
        <div class="new_info_item info_age">
            <div class="info_title">Возраст</div>
            <div class="info_added">{{item.pushAge}}</div>
        </div>
        <div class="new_info_item info_org">
            <div class="info_title">Место работы</div>
            <div class="info_added">{{item.pushOrg | lowercase}}</div>
        </div>
        <div class="new_info_item info_org">
            <div class="info_title">Note</div>
            <div class="info_added">{{item.pushNote | lowercase}}</div>
        </div>
    </div>
</div>
<div>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/lib/angular/angular.min.js"></script>
<script src="js/controllers/app.js"></script>
<!--<script src="js/controllers/filter.js"></script>-->

</body>
</html>